Employee.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://emp.service.test.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://emp.service.test.com/"
	name="EmployeeImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://emp.service.test.com/"
				schemaLocation="http://localhost:9999/ws/emp?xsd=1" />
		</xsd:schema>
	</types>
	<message name="getEmployee">
		<part name="arg0" type="tns:employee" />
	</message>
	<message name="getEmployeeResponse">
		<part name="return" type="tns:employee" />
	</message>
	<message name="getEmployeeByEmpId">
		<part name="arg0" type="tns:employee" />
	</message>
	<message name="getEmployeeByEmpIdResponse">
		<part name="return" type="tns:employee" />
	</message>
	<message name="getEmployeesByDeptId">
		<part name="arg0" type="xsd:int" />
	</message>
	<message name="getEmployeesByDeptIdResponse">
		<part name="return" type="tns:arrayList" />
	</message>
	<message name="deleteEmployee">
		<part name="arg0" type="xsd:int" />
	</message>
	<message name="deleteEmployeeResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="addEmployee">
		<part name="arg0" type="tns:employee" />
	</message>
	<message name="addEmployeeResponse">
		<part name="return" type="tns:employee" />
	</message>
	<message name="updateEmployee">
		<part name="arg0" type="tns:employee" />
	</message>
	<message name="updateEmployeeResponse">
		<part name="return" type="tns:employee" />
	</message>
	<portType name="EmloyeeInt">
		<operation name="getEmployee">
			<input wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeeRequest"
				message="tns:getEmployee" />
			<output wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeeResponse"
				message="tns:getEmployeeResponse" />
		</operation>
		<operation name="getEmployeeByEmpId">
			<input
				wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeeByEmpIdRequest"
				message="tns:getEmployeeByEmpId" />
			<output
				wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeeByEmpIdResponse"
				message="tns:getEmployeeByEmpIdResponse" />
		</operation>
		<operation name="getEmployeesByDeptId">
			<input
				wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeesByDeptIdRequest"
				message="tns:getEmployeesByDeptId" />
			<output
				wsam:Action="http://emp.service.test.com/EmloyeeInt/getEmployeesByDeptIdResponse"
				message="tns:getEmployeesByDeptIdResponse" />
		</operation>
		<operation name="deleteEmployee">
			<input wsam:Action="http://emp.service.test.com/EmloyeeInt/deleteEmployeeRequest"
				message="tns:deleteEmployee" />
			<output
				wsam:Action="http://emp.service.test.com/EmloyeeInt/deleteEmployeeResponse"
				message="tns:deleteEmployeeResponse" />
		</operation>
		<operation name="addEmployee">
			<input wsam:Action="http://emp.service.test.com/EmloyeeInt/addEmployeeRequest"
				message="tns:addEmployee" />
			<output wsam:Action="http://emp.service.test.com/EmloyeeInt/addEmployeeResponse"
				message="tns:addEmployeeResponse" />
		</operation>
		<operation name="updateEmployee">
			<input wsam:Action="http://emp.service.test.com/EmloyeeInt/updateEmployeeRequest"
				message="tns:updateEmployee" />
			<output
				wsam:Action="http://emp.service.test.com/EmloyeeInt/updateEmployeeResponse"
				message="tns:updateEmployeeResponse" />
		</operation>
	</portType>
	<binding name="EmployeeImplPortBinding" type="tns:EmloyeeInt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="getEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
		<operation name="getEmployeeByEmpId">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
		<operation name="getEmployeesByDeptId">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
		<operation name="deleteEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
		<operation name="addEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
		<operation name="updateEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://emp.service.test.com/" />
			</output>
		</operation>
	</binding>
	<service name="EmployeeImplService">
		<port name="EmployeeImplPort" binding="tns:EmployeeImplPortBinding">
			<soap:address location="http://localhost:9999/ws/emp" />
		</port>
	</service>
</definitions>